.book-detailes-container {
  display: flex;
  margin-top: 2rem;
}

.book-details-content {
  background-color: #f1faee;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.book-details-text > p,
h1,
h2 {
  margin-bottom: 0.8rem;
}

.book-details-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-details-img {
  max-width: 320px;
}

.book-details-title {
  font-size: 2rem;
  color: #457b9d;
  text-transform: capitalize;
}

.book-detials-subtitle {
  font-size: 1.3rem;
  color: #457b9d;
}

.book-details-text .btn {
  margin-top: 2rem;
  padding: 5px;
  min-height: 2rem;
  border: none;
  outline: 0;
  background-color: #1d3557;
  color: #f1faee;
  border-radius: 5px;
  font-size: 1rem;

  transition: background-color 0.3s;
}
.book-details-text .btn:hover {
  cursor: pointer;
  background-color: #3b5983;
}

.book-details-btns {
  display: flex;
  gap: 10px;
}

.red-price {
  color: #e63946;
}

.green-price {
  color: green;
}

.sale {
  color: #e63946;
}

@media (min-width: 780px) {
  .book-details-content {
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
  }

  .book-details-text {
    justify-content: space-around;
  }
}
